<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    
</head>
<body>
    <h1>Hello!!</h1>
    <h2>The value of 5 * 6 is {{5*6}}</h2>
    <h2>Here is a random number from the server.py file: {{num}}</h2>
    <h3><a href="{{ url_for('blog') }}">Go to my blog</h3>
</body>
<footer><h3>Copyright {{current_year}}</h3></footer>
</html>